PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/zerofy
JWT_SECRET=tumhara_koi_bhi_random_secret_string
OPENAI_API_KEY=sk-proj-...
RAZORPAY_KEY_ID=rzp_live_...
RAZORPAY_KEY_SECRET=...
